.html, body{
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;   
  
  }
  h1{
    color: rgb(94, 94, 97);
  }
  
   .centro{
    margin: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
  
  .formulario{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 61px;
    background: #e0e0e0;
    box-shadow:  -7px 7px 14px #cacaca,
                7px -7px 14px #f6f6f6;
  }
  
  .label{
    border: none;
    margin: 2px;
    height: 10%;
    width: 70%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  
  }
  
  .label:focus {
  border:2px solid rgb(172, 175, 175);
  outline: none;
  }
  
  
  
  .boton{
    color: rgb(94, 94, 97);
    margin-top: 0.4375rem;
    padding: 0.625rem;
    width: 7.5rem;
    display: grid;
    place-items: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
    
  }
  
  .boton:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em); 
  }